[submodule "vendor/macadam"]
	path = vendor/macadam
	url = git@github.com:moe123/macadam.git
	branch = aerendir
[submodule "vendor/open_mpw_precheck"]
	path = vendor/open_mpw_precheck
	url = https://github.com/efabless/open_mpw_precheck.git
	branch = main